In [1]:
thistuple = ("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [3]:
thistuple = ("apple","banana","cherry")
print(len(thistuple))

3

In [4]:
thistuple = ("apple","banana","cherry")
print(type(thistuple))

<class 'tuple'>

In [5]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [ ]:
tuple = ("abc",34,True,40,"male")

In [6]:
#access tuple item
thistuple =("apple","banana","cherry")
print(thistuple[1])

banana

In [7]:
#access tuple item
thistuple =("apple","banana","cherry")
print(thistuple[-1])

cherry

In [8]:
#access tuple item
thistuple =("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [9]:
#update tuple
x = ("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [16]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [17]:
thisset = {"apple","banana","cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [18]:
thisset = {"apple","banana","cherry","apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [19]:
set1 = {"abc",34,"as",True,40,"male"}

In [20]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Add an element to set1
set1.add(6)
print("After adding 6 to set1:", set1)

# Remove an element from set2
set2.remove(8)
print("After removing 8 from set2:", set2)

# Union of two sets
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

# Intersection of two sets
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

# Difference of two sets
difference_set = set1.difference(set2)
print("Difference of set1 and set2:", difference_set)

After adding 6 to set1: {1, 2, 3, 4, 5, 6}
After removing 8 from set2: {4, 5, 6, 7}
Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7}
Intersection of set1 and set2: {4, 5, 6}
Difference of set1 and set2: {1, 2, 3}

In [24]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Add an element to set1
set1.add(6)
print("After adding 6 to set1:", set1)

# Remove an element from set2
set2.remove(8)
print("After removing 8 from set2:", set2)

# Union of two sets
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

# Intersection of two sets
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

# Difference of two sets
difference_set = set1.difference(set2)
print("Difference of set1 and set2:", difference_set)

# Update set1 with the difference of set1 and set2
set1.difference_update(set2)
print("After updating set1 with the difference of set1 and set2:", set1)

# Discard an element from set1
set1.discard(4)
print("After discarding 4 from set1:", set1)

# Intersection update: Update set1 with the intersection of set1 and set2
set1.intersection_update(set2)
print("After updating set1 with the intersection of set1 and set2:", set1)

# Check if sets are disjoint
disjoint_check = set1.isdisjoint(set2)
print("Are set1 and set2 disjoint?", disjoint_check)

# Check if set1 is a subset of set2
subset_check = set1.issubset(set2)
print("Is set1 a subset of set2?", subset_check)

# Check if set1 is a superset of set2
superset_check = set1.issuperset(set2)
print("Is set1 a superset of set2?", superset_check)


# Remove an element from set2
set2.remove(6)
print("After removing 6 from set2:", set2)

# Calculate symmetric difference between set1 and set2
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference between set1 and set2:", symmetric_difference_set)

# Update set1 with the symmetric difference of set1 and set2
set1.symmetric_difference_update(set2)
print("After updating set1 with the symmetric difference of set1 and set2:", set1)

# Create a new set with elements present in either set1 or set2 but not both
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

# Update set1 with elements present in either set1 or set2 but not both
set1.update(set2)
print("After updating set1 with elements present in either set1 or set2 but not both:", set1)

After adding 6 to set1: {1, 2, 3, 4, 5, 6}
After removing 8 from set2: {4, 5, 6, 7}
Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7}
Intersection of set1 and set2: {4, 5, 6}
Difference of set1 and set2: {1, 2, 3}
After updating set1 with the difference of set1 and set2: {1, 2, 3}
After discarding 4 from set1: {1, 2, 3}
After updating set1 with the intersection of set1 and set2: set()
Are set1 and set2 disjoint? True
Is set1 a subset of set2? True
Is set1 a superset of set2? False
After removing 6 from set2: {4, 5, 7}
Symmetric difference between set1 and set2: {4, 5, 7}
After updating set1 with the symmetric difference of set1 and set2: {4, 5, 7}
Union of set1 and set2: {4, 5, 7}
After updating set1 with elements present in either set1 or set2 but not both: {4, 5, 7}

In [25]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [26]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

Ford

In [27]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}